header {
    min-height: 600px;
    padding: 1.5em;
}

header h1 {
    font-size: 500%;
    font-weight: 300;
}

header p {
    font-size: 200%;
    font-weight: 300;
}

@media screen and (min-width: 768px){
    header {
    background-image: url(../img/pencil-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
}

@media screen and (max-width: 768px){
    .motto {
        display:none;
    }
}